/ {
    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
        };
    };

    aliases {
        led0 = &led0;
        button0 = &button0;
    };
};
